body{
  background-color: bisque;
}

ul{
  padding: 10px;
  border: 10px;
  border-radius: thick black;
  margin: 10px;
}

/* td{
  border: 1px solid black;
} */

table tr td {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  font: 16px bold black;
}

thead{
  border-radius: 1px solid black;
  font: 32px, bold black;
}