/* entire document */

body{
  font-family: Arial, Helvetica, sans-serif;
}


/* Header */
header{
  background-color: #444;
  height: 100px;
}

h1{
  margin: auto;
  color: #eee;
  float: right;
  margin-top: 30px;
  margin-right: 350px;
}

nav{
  width: 960px;
  margin: auto;
}

header img{
  margin-top: 15px;
  float: left;
  width: 200px;
  height: 75px;
}

header span{
  display: inline-block;
  line-height: 100px;
  margin-left: 60px;
}

header nav:first-child {
  width: 960px;
  height: 540px;
}

header span:nth-child(2){
  margin-left: 30px;
}

nav a{
  text-decoration: none;
  color: #aaa;
}

#salesFish{
  float: left;
}
/* Main */

main{
  width: 960px;
  margin: auto;
}

main img{
  margin-top: 30px;
}

main:first-child{
  width: 960px;
  height: 540px;
  margin-left: 30px;
}
main li:first-child{
  margin-left: 0px;
}

main li{
  margin-left: 30px;
  float: left;
}

main article{
  width: 50%;
  float: right;
  margin-top: 30px;
}

main h2{
  margin-left: 30px;
  font-size: 20px;
}

main p{
  height: 330px;
  margin-left: 30px;
  font-size: 20px;
  overflow: auto;
  margin-top: 5px;
  font-style: italic;
  line-height: 20px;
}

#merchP{
  font-style: italic;
  line-height: 20px;
  height: 30px;
  margin-top: 15px;
  font-style: italic;
}

footer div{
  background-color: #111;
  color: #eee;
  margin-top: 30px;
  margin-left: 30px;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  display: inline-block;
}

article div a{
  color: #eee;
  text-decoration: none;
}

article div:hover{
  background-color: red;
  transition: 350ms;
}


/* Footer */

footer{
  background-color: #444;
  height: 130px;
  margin-top: 120px; 
}

footer div{
  float: right;
  position: absolute;
  right: 0;
  margin-right: 100px;
}

footer a{
  color: #eee;
  text-decoration: none;
  float: right;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 30px;
  border: 1px solid black;
  background-color: #111
}

/* SALES PAGE */

table, th, td{
  border: 1px solid black;
  width: 60%;
  height: 60px;
  margin-top: 30px;
  margin-left: auto;
  padding: 10px;
  vertical-align: bottom;
}

tr:hover{
  background-color: lightgray;
}